<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/homework/tasks_2.1-2.5/homeTask_2.1/css/style.css" />
    <title>Patogu pirkti</title>
  </head>
  <body>
    <header>
      <h1>Knygu parduotuviu portalas</h1>
      <nav>
        <ul>
          <li><a href="index.html">Pagrindinis</a></li>
          <li><a href="easyToBuy.html">Patogu&nbsp;pirkti</a></li>
          <li><a href="https://www.knygos.lt" target="_blank">Knygos.lt</a></li>
          <li><a href="https://www.knyguklubas.lt" target="_blank">Knygu&nbsp;klubas</a></li>
          <li><a href="https://www.pegasas.lt" target="_blank">Pegasas</a></li>
          <li><a href="https://www.almalittera.lt/" target="_blank">Alma&nbsp;littera</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <section>
        <h1 class="easyToBuy-heading">Patogu pirkti</h1>
      </section>
      <div class="back-link-box">
        <a class="back-link" href="index.html">Grizti</a>
      </div>
    </main>
  </body>
</html>
