<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/homework/tasks_2.1-2.5/homeTask_2.1/css/style.css" />
    <title>Books site</title>
  </head>
  <body>
    <header>
      <h1>Knygu parduotuviu portalas</h1>
      <nav>
        <ul>
          <li><a href="index.html">Pagrindinis</a></li>
          <li><a href="easyToBuy.html">Patogu&nbsp;pirkti</a></li>
          <li><a href="https://www.knygos.lt" target="_blank">Knygos.lt</a></li>
          <li><a href="https://www.knyguklubas.lt" target="_blank">Knygu&nbsp;klubas</a></li>
          <li><a href="https://www.pegasas.lt" target="_blank">Pegasas</a></li>
          <li><a href="https://www.almalittera.lt/" target="_blank">Alma&nbsp;littera</a></li>
        </ul>
      </nav>
    </header>

    <main>
      <section>
        <address>
          Rasykite <a href="#">knygos@example.com</a>.<br />
          Aplankykite mus:<br />
          knyguportalas.lt<br />
          Ulonu g.5, Vilnius<br />
          Lietuva
        </address>
      </section>

      <section>
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d2304.9835988802765!2d25.2901282!3d54.7099117!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46dd96ae1dedd637%3A0x73978617430c730c!2sUlon%C5%B3%20g.%205%2C%20Vilnius%2008240!5e0!3m2!1sen!2slt!4v1645814244547!5m2!1sen!2slt"
          width="600"
          height="450"
          style="border: 0"
          allowfullscreen=""
          loading="lazy"
        ></iframe>
      </section>
    </main>
  </body>
</html>
